extends layout

block content
  .container
    h1= title
    p Welcome to #{title}, the best restaurant search service in UofT.

    .row
      .col-sm-3
      .col-sm-6
        #loginbox.mainbox
          .panel.panel-info
            .panel-heading
              .panel-title Sign In
              div(style='float:right; font-size: 80%; position: relative; top:-10px')
            .panel-body(style='padding-top:30px')
              form#loginform.form-horizontal(role='form', action='/login', method="post")
                .input-group(style='margin-bottom: 25px')
                  span.input-group-addon
                    i.glyphicon.glyphicon-user
                  input#login-username.form-control(type='text', name='email', value='', placeholder='username or email')
                .input-group(style='margin-bottom: 25px')
                  span.input-group-addon
                    i.glyphicon.glyphicon-lock
                  input#login-password.form-control(type='password', name='password', placeholder='password')
                .form-group(style='margin-top:10px; margin-bottom:0px')
                  // Button
                  .col-sm-3.controls
                    button#btn-login.btn.btn-success(type='submit') 
                      i.glyphicon.glyphicon-user
                      | &nbsp; Login
                  .col-sm-3.controls
                    a.btn.btn-info.btn-social.btn-facebook(href='/auth/facebook' style='margin-top:0px') 
                      i.fa.fa-facebook
                      | &nbsp; Facebook Login  
            form(action='/signup', method='get' style='margin-top:0px')
              button#signup.btn.btn-link
                | &nbsp;Don't have an account yet? Sign Up Here!
      .col-sm-3

