extends layout

block content
  .container
    .heading
      h2.text-center
        |Welcome to #{title}, the best restaurant search service in UofT.

    .row
      .col-md-6.col-md
        .infobox
          h3
            |Brownbag lets you search for your favorite foood around campus. 
            p
            |Always be on the lookout for new restaurants with our recommendation system! 
      .col-md-6.col-md
        #loginbox.mainbox
          .panel.panel-info
            .panel-heading
              .panel-title Sign In
              div(style='float:right; font-size: 80%; position: relative; top:-10px')
            .panel-body(style='padding-top:30px')
              form#loginform.form-horizontal(role='form', action='/login', method="post")
                .input-group(style='margin-bottom: 25px')
                  span.input-group-addon
                    i.glyphicon.glyphicon-user
                  input.form-control(type='text', name='email', value='', placeholder='username or email')
                .input-group(style='margin-bottom: 25px')
                  span.input-group-addon
                    i.glyphicon.glyphicon-lock
                  input.form-control(type='password', name='password', placeholder='password')
                .form-group(style='margin-top:5px; margin-bottom:0px')
                  // Button
                  .col-md-3.controls
                    button.btn.btn-success(type='submit' style='margin-top:5px') 
                      i.glyphicon.glyphicon-user
                      | &nbsp; Login
                  .col-md-3.controls
                    a.btn.btn-info.btn-social.btn-facebook(href='/auth/facebook' style='margin-top:5px') 
                      i.fa.fa-facebook
                      | &nbsp; Facebook Login  
            form(action='/signup', method='get' style='margin-top:0px')
              button#signup.btn.btn-link
                | &nbsp;Don't have an account yet? Sign Up Here!

