/* Please read me README file. */
* {
    margin: 0px;
    padding: 0px;
}

h1,
h2 {
    color: lightslategray;
}


/* Big container for the page */
#bigwrapper {
    font-family: "Comic Sans MS", cursive, san-serif;
    width: 100%;
    background-color: black;
    border: 2px solid deepskyblue;
    border-radius: 4px;
    word-wrap: break-word;
}


/* Header section with the logo and user avatar */
#header {
    padding: 20px;
    width: 100%;
    border-bottom: 5px double deepskyblue;
}

#logo-section,
#user-section {
    display: inline-block;
}

#logo:hover {
    opacity: 0.9;
    padding: 15px;
}

#user-name,
#user-ava {
    font-size: xx-small;
    display: inline-block;
}

#user-section {
    margin-top: 5px;
    border: 2px solid deepskyblue;
    padding: 4px;
    margin-left: 15px;
    border-radius: 8px;
    background-color: peachpuff;
    display: none;
}

#user-section:hover {
    box-shadow: 0 0 50px deepskyblue, 0 0 150px deepskyblue;
}

#user-name {
    width: 180px;
    margin-left: 8px;
    color: black;
}

#user-ava {
    margin: 2px;
    margin-left: 10px;
}


/* The main viewer */
#view {
    width: 100%;
    height: 1200px;
}


/* Login or sign up box */
#login-signup {
    width: 60%;
    display: block;
    border: 5px double deepskyblue;
    padding: 30px;
    margin: 0 auto;
    background-color: peachpuff;
    border-radius: 5px;
    position: relative;
    top: 10%;
}


/* Login page, initially is not display. */
#login-page {
    width: 60%;
    display: none;
    padding: 10px;
    margin: 0 auto;
    border: 5px double deepskyblue;
    border-radius: 5px;
    background-color: peachpuff;
    position: relative;
    top: 10%;
}


/* Sign up page, initially is not display. */
#signup-page {
    width: 90%;
    display: none;
    padding: 10px;
    margin: 0 auto;
    border: 5px double deepskyblue;
    border-radius: 5px;
    background-color: peachpuff;
    position: relative;
    top: 5%;
}


/* Welcome account page, display after the user has successfully logged in.*/
#welcome-user-page {
    display: none;
    width: 90%;
    padding: 10px;
    margin: 0 auto;
    border: 5px double deepskyblue;
    border-radius: 5px;
    background-color: peachpuff;
    position: relative;
    top: 5%;
}


/* Style for the list of users. It is made as a class, so that it can
overide some features in the bootstrap table class.*/
.user-table {
    table-layout: fixed;
    width: 100%;
    margin: 4px;
    padding: 4px;
    border-color: floralwhite;
}

thead tr th {
    color: white;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    border-radius: 5px;
    background-color: dodgerblue;
}

tbody tr:nth-child(even) {
    background-color: cornflowerblue;
}

tbody tr:nth-child(odd) {
    background-color: lightskyblue;
}


/* Profile page which initially not display. */
#profile-page {
    display: none;
    width: 80%;
    padding: 10px;
    margin: 0 auto;
    border: 5px double deepskyblue;
    border-radius: 5px;
    background-color: peachpuff;
    position: relative;
    top: 5%;
    table-layout: fixed;
}

#profile-bottom, #profile-admin-section {
    width: 80%;
    padding: 10px;
    margin: 0 auto;
    position: relative;
    border: 3px double deepskyblue;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#tracking-data {
    margin: 0 auto;
    position: relative;
    border: 3px double deepskyblue;
    border-radius : 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding : 10px;
}

/* Class for making div/text inline. */
.inlinea {
    word-wrap: break-word;
    display: inline-block;
}


/* Edit Profile Page, which initially not display. */
#edit-profile-page {
    top: 5%;
    width: 90%;
    margin: 0 auto;
    position: relative;
    background-color: peachpuff;
    border: 3px double deepskyblue;
    border-radius: 5px;
    display: none;
}

#edit-profile-page-block {
    width: 90%;
    margin: 0 auto;
    position: relative;
    display: block;
    padding: 20px;
}

#profile-mid-left,
#profile-mid-right,
#profile-bottom-right,
#profile-bottom-left {
    border: 3px double deepskyblue;
    margin: 5px; 
    padding: 10px; 
}

#profile-bottom-left {
    border: 0px;
}

#upload-img-but,
#img-input {
    margin: 5px;
}


