#restaurant-picture {
    width: 100%;
    max-height: 300px;
    border-radius: 5px;
    border: 2px solid;
    border-color: grey;
    margin-top: 10px;
}

#user-picture {
    width: 93%;
    position: relative;
    margin: 0 auto;
    min-height: 208px;
    max-height: 420px;
    margin-top: 10px !important;
}

h4 {
    text-align: center;
    color: dodgerblue
}

.topnav {
  background-color: #589660;
  padding: 5px;
  color: white;
}

.topnav a {
    color: white;
}

.content {
    padding: 0px;
}

.logo {
    height: 60px;
}

.topnav-right {
    text-align: right;
    padding: 15px 15px 0 0;
}

.dl-horizontal dt {
    text-align: left !important;
}

.signout {
    margin-left: 10px;
}

.glowing-blue:hover {
    box-shadow: 0 0 50px deepskyblue, 0 0 150px deepskyblue;
}

.logo-small {
    width: 100px;
    height: 100px;
}

#signupbox {
  width: 70%;
  margin: 10px auto;
}

#loginbox {
  border-left: solid #aaa;
  padding-left: 10px;
}

.logo-small:hover {
    width: 120px;
    height: 120px;
}

/*
#username {
  color: #26412a;
  font-weight: bold;
}
*/

.heading {
  margin: 16px 0px;
}

.inlinea {
    word-wrap: break-word;
    display: inline-block;
}

.display-block {
    border: 2px solid;
    border-color: grey;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

.helper {
    padding: 2px;
    color: indianred;
    font-style: italic;
}

.success-mess{
    padding: 2px;
    font-style: italic;
    color: limegreen;
}

#username {
    color: #ffd;
    font-weight: bold;
}

.rating {

    width:200px;
}
.rating span { float:right; position:relative; }

.rating span input {
    position:absolute;
    top:0px;
    left:0px;
    opacity:0;
}

.rating span label {
    display:inline-block;
    width:30px;
    height:30px;

    color:#FFF;
    background:#ccc;
    font-size:30px;
    margin-right:2px;
    line-height:30px;
    border-radius:50%;
    -webkit-border-radius:60%;
}

.rating span:hover ~ span label,
.rating span:hover label,
.rating span.checked label,
.rating span.checked ~ span label {
    background:#589660;
    color:#FFF;
}
