#profile-picture {
  width: 100%;
}

h4 {
    text-align: center;
}
.topnav {
  background-color: #589660;
  padding: 5px;
  color: white;
}

.topnav a {
  color: white;
}

.content {
  padding: 0px;
}

.profile-right {
  border-left: 1px solid #eee;
}

.logo {
  height: 60px;
}

.topnav-right {
  text-align: right;
  padding: 15px 15px 0 0;
}

.dl-horizontal dt {
  text-align: left !important;
}

.signout {
  margin-left: 10px;
}

.glowing-blue:hover{
    box-shadow: 0 0 50px deepskyblue, 0 0 150px deepskyblue;
}

.logo-small{
    width: 100px;
    height: 100px;
}

.logo-small:hover{
    width: 120px;
    height: 120px;
}

#username {
  color: #ffd;
  font-weight: bold;
}
