extends ../layout

block content
  .container

    h2.
      Sign up with Netnome
    form#formAddUser(name="adduser",method="post",action="/users",  enctype="multipart/form-data")
      p E-mail:
          input#inputEmail(type="text", placeholder="john@smith.com", name="email")
      p Password:
          input#inputPassword(type="password", placeholder="pass123", name="password")
      p Name: 
          input#inputName(type="text", placeholder="John Smith", name="name")
      p Description: 
          textarea#inputDescription(cols="40", rows="2", placeholder="Describe yourself", name="description")
      p Upload Image: 
          input(type="file", name="profilePicture")
      p
          button#btnSubmit(type="submit") submit