extends ../../layout

block content
  h1.
    #{title}
  table.table.user-list.table-striped.table-bordered.table-hover
    thead
      tr
        th.
          Name
        th.
          Logo
    - each user, i in users
      tr
        td
          a(href='/users/#{user._id}')= user.name
        td
          img.responsive.img-circle.logo-small(src="/avatars/#{user.avatar}") 