extends ../layout

block list
  form(method='GET')
    .row
      .col-sm-3
        label(for = 'userType') View
        select.form-control(name='userType')
          option(value='')
            |All
          option
            |Customers
          option
            |Restaurants
      .col-sm-2
        label &nbsp;
        .control-group
          input.btn.btn-info.btn-user-filter(type='submit',value='Filter')
  br

  table.table.user-list.table-striped.table-bordered.table-hover.text-center
    thead
      tr
        th(colspan="3")
          h4 Users
    - each user, i in users
      tr
        td
          a(href='/users/#{user.auth}')
            img.responsive.img-circle.logo-small(src="/avatars/#{user.avatar}") 
        td
          a(href='/users/#{user.auth}')= user.name
        td
          a(href='/users/#{user.auth}')= user.accountType
