//- includes/head.jade
if auths
  each auth, i in auths
    .display-block
      p= auth.name

.display-block
  h3 Send a message
  br
  form.send-message(action='/messages/sendMessage', method='POST')
    input(type="hidden" name="recipient" value="#{email}")
    input.form-control(type='text', name='message', placeholder='Enter message...')
    br
    input#btn-sendmessage.btn.btn-info(type='submit', value='Submit')
