extends ../layout

block list
  form(method='GET', class="restaurant-filter")
    .row
      .col-sm-3
        label(for = 'cuisine') Cuisine
        select.form-control(name='cuisine')
          option(value='')
            | All cuisines
          option(class='dropdown-header', disabled)
            | Most popular
          option
            | Italian
          option
            | French
          option
            | Japanese
          option(class='dropdown-header', disabled)
            | Other cuisines
          option
            | Chinese
          option
            | Thai
          option
            | Korean
          option
            | VietNamese
          option
            | Indian
          option
            | FastFood
          option
            | Others
      .col-sm-3
        label(for = 'rating') Rating
        select.form-control(name='rating')
          option(value='')
            | All restaurants
          option(value='0.0')
            | All rated restaurants
          option(class='dropdown-header',disabled)
            | Recommended
          option
            | 5.0
          option
            | 4.5
          option
            | 4.0
          option(class='dropdown-header', disabled)
            | Not recommended
          option
            | 3.5
          option
            | 3.0
          option
            | 2.5
          option
            | 2.0
      .col-sm-2
        label &nbsp;
        .control-group
          input.btn.btn-info.btn-restaurant-filter(type='submit',value='Search')

  br
  table.table.user-list.table-striped.table-bordered.table-hover.text-center
    thead
      tr
        th(colspan="3")
          h4 Restaurants
    - each restaurant, i in restaurants
      tr
        td
          a(href='/users/#{restaurant.auth}')
            img.responsive.img-circle.logo-small.blowing-blue(src="/avatars/#{restaurant.avatar}")
        td
          a(href='/users/#{restaurant.auth}')= restaurant.name
        td
          a(href='/users/#{restaurant.auth}')= restaurant.cuisine
